<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>分析 ast codgen slot</title>
</head>
<body>

<div id="app">
  <slot-demo>

    <template v-slot>
      <div>嗷嗷嗷0</div>
      <div>哈哈哈1 {{ isShow || 'default' }}</div>
    </template>

    <template v-slot:header v-if="current === 'header'">啊啊啊2 {{ isShow }}</template>
    <template v-slot:body v-else-if="current === 'body'">啦啦啦3</template>
    <template v-slot:footer v-else>呵呵呵4 {{ isShow }}</template>

    <template
      v-slot:[item.name]="slotProps"
      v-for="(item, key, index) in items"
      :key="item.id" class="red">
      滚滚滚5 {{ item.name }}
    </template>

  </slot-demo>
</div>

<!-- 开发模式 -->
<script src="../packages/vue/dist/vue.global.js"></script>
<!-- 生产模式-->
<!--<script src="../packages/vue/dist/vue.global.prod.js"></script>-->
<script>

  const {
    createApp,
    ref,
    reactive,
    onMounted,
  } = Vue

  // 定义局部组件
  const SlotDemo = {
    name: 'slot-demo',
    template: `
        <div class="slot-demo">
          <div class="default-slot"><slot id="001"></slot></div>
          <div class="header-slot"><slot name="header" id="002"></slot></div>
          <div class="body-slot"><slot name="body" id="003"></slot></div>
          <div class="footer-slot"><slot name="footer" id="004"></slot></div>
          <div class="section1"><slot name="section1" id="004"></slot></div>
          <div class="section2"><slot name="section2" id="004"></slot></div>
        </div>
      `,
    data () {
      return {
        title: '这是局部组件',
        globalTitle: '这是全局组件',
      }
    }
  }



  const rootComponent = {
    name: 'root-component',
    components: {
      SlotDemo,
    },
    props: {
      age: Number,
    },
    // props 不可通过解构来获取对应值
    setup(props, context ) {
      const count = ref(0)

      const handleClick = () => {
        count.value++
      }

      return {
        count,
        handleClick,
        current: 'here',
        isShow: false,
        items: [
          { id:1, name: 'section1' },
          { id:2, name: 'section2' },
        ]
      }
    }
  }
  const rootProps = {
    age: 10, // props
    // sex: 'man', // attrs
  }

  const app = createApp(rootComponent, rootProps)
  app.mount('#app')

</script>
</body>
</html>
