<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Vue 3 调试 - 分析 ast codegen for</title>
</head>
<body>

<div id="app">

  <div class="for-array" v-for="(value, index) in arrList" :key="index">
    {{ value }} - {{ index }}
  </div>

  <div class="for-ojbect-value" v-for="value in item">
    {{ value }}
  </div>

  <div class="for-object-key" v-for="(value, key) in item" :key="key">
    {{ key }} - {{ value }}
  </div>

  <div class="for-box">
    <div class="for-object-index" v-for="(value, key, index) in item" :key="index">
      {{ key }} - {{ value }} - {{ index }}
    </div>
  </div>
</div>

  <!-- 开发模式 -->
  <script src="../packages/vue/dist/vue.global.js"></script>
  <!-- 生产模式-->
  <!--<script src="../packages/vue/dist/vue.global.prod.js"></script>-->
  <script>

    const {
      createApp,
      ref,
      reactive,
      onMounted,
    } = Vue

    // 定义局部组件
    const ElementDemo = {
      name: 'element-demo',
      template: '<div class="element-demo">element demo test</div>',
    }
    // 定义局部组件
    const HelloWorld = {
      name: 'hello-world',
      template: '<div class="hello-world">Hello World</div>',
    }


    const rootComponent = {
      name: 'root-component',
      components: {
        ElementDemo,
        HelloWorld,
      },
      // template: '<input-component v-model.{foo:123}="changeText" placeholder="input test" />',
      props: {
        age: Number,
      },
      // props 不可通过解构来获取对应值
      setup(props, context ) {
        const count = ref(0)
        const blueClass = ref('blue')

        const handleClick = () => {
          count.value++
        }

        return {
          blueClass,
          count,
          handleClick,

          arrList: [{id: 10, name: '小明'}, {id: 11, name: '小王'}, {id: 12, name: '小红'}, ],

          item: { id: 1, name: '小李', age: '20', sex: 'man' },
        }
      }
    }
    const rootProps = {
      age: 10, // props
      // sex: 'man', // attrs
    }

    const app = createApp(rootComponent, rootProps)
    app.mount('#app')

  </script>
</body>
</html>
