<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Vue 3 分析 runtime suspense</title>
  <style>
    body {
      margin: 100px;
      padding: 0;
      text-align: center;
    }
  </style>
</head>
<body>
<div id="app"></div>

<!-- 开发模式 -->
<script src="../packages/vue/dist/vue.global.js"></script>
<!-- 生产模式-->
<!--<script src="../packages/vue/dist/vue.global.prod.js"></script>-->
<script>
  const { createApp, ref, reactive, onMounted, } = Vue

  // 子组件A
  const InputA = {
    name: 'InputA',
    template: `<input class="input-a" v-model="valueA"/>`,
    setup() {
      const valueA = ref('aaa')
      return {
        valueA,
      }
    }
  }

  // 子组件B
  const InputB = {
    name: 'InputB',
    template: `<input class="input-b" v-model="valueB"/>`,
    setup() {
      const valueB = ref('bbb')
      return {
        valueB,
      }
    }
  }

  // 父组件
  const rootComponent = {
    components: { InputA, InputB, },
    template: `
      <div class="root-component">
        <div>
          <span>切换子组件：</span>
          <input type="radio" id="toggle-a" value="InputA" v-model="active" /><label for="toggle-a">A</label>
          <input type="radio" id="toggle-b" value="InputB" v-model="active" /><label for="toggle-b">B</label>
        </div>
        <div>
          <span>缓存子组件：</span>
          <input type="checkbox" id="cache-a" value="InputA" v-model="cacheInclude" /><label for="cache-a">A</label>
          <input type="checkbox" id="cache-b" value="InputB" v-model="cacheInclude" /><label for="cache-b">B</label>
        </div>

        <!--active改变，触发重新执行keep-alive的渲染函数，并-->
        <keep-alive :include="cacheInclude">
          <component :is="active" :key="active" />
        </keep-alive>
      </div>
    `,
    setup() {
      const active = ref('InputA')
      const cacheInclude = ref(['InputA', 'InputB'])

      onMounted(() => {
      })

      return {
        active,
        cacheInclude,
      }
    }
  }

  const app = createApp(rootComponent)
  app.mount('#app')
</script>

</body>
</html>
